/* width */
::-webkit-scrollbar {
  width: 10px;
}
.sidenavColor {
  background-color: #E2F4FB !important;
}

nav {
  background-color: #CEE7F0 !important;
  z-index: +99999;
  top:0;
  position: fixed;
}
.inLineText {
  vertical-align: middle;

}
.toggle-password{
  right: 0 !important;
  z-index: +99999 !important;
}

img.menuManagerIcon {
  height: 3.2em;
  width: 3.2em;
  vertical-align: middle;
}
img.menuManagerIcon2 {
  height: 2.5em;
  width: 3.2em;
  vertical-align: middle;
}
img.menuManagerIcon1 {
  height: 2.2em;
  width: 2.2em;
  vertical-align: middle;
}

.fontSize {
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-size: 16.19px;
}

body {
  font-family: 'Raleway', sans-serif;
}
.backimage{
  background-size: 400px 400px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2ebf2;
}
footer{
  bottom: 0;
  position: fixed;
  z-index: +999;
  width: 100%;
  background-color: #CEE7F0;
}
.widthControl{
  width: 100%;
  align-items: center;
}
body {
  /*background-color: white !important;*/
}

.cardBackGroundColor {
  background-color: #CEE7F0 !important;
}
.field-icon {
      margin-top: 0px;
    float: right;
    text-align: right;
    margin-left: 80%;
  position: relative;
  z-index: 2;
}
.inLineText {
  vertical-align: middle;

}

.fontSize {
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-size: 16.19px;
}

body {
  font-family: 'Raleway', sans-serif;
}

label {
  cursor: pointer;
  color: #555;
  display: block;

}


.imageManageerLogo {
  height: auto;
  width: 100%;
  margin-top: 2em;
}

.menuHead{
  background-color: #46A6DB;
  color: white;
  z-index: +2;
}

.marginTop1{
  margin-top: 1em;
}
.marginTop2{
  margin-top: 2em;
}
.marginTop3{
  margin-top: 3em;
}
.marginTop4{
  margin-top: 4em;
}
.marginTop5{
  margin-top: 5em;
}
.marginTop6{
  margin-top: 6em;
}
.marginBottom1{
  margin-bottom: 1em;
}
.marginBottom2{
  margin-bottom: 2em;
}
.marginBottom3{
  margin-bottom: 3em;
}
.marginBottom4{
  margin-bottom: 4em;
}
.marginBottom5{
  margin-bottom: 5em;
}
.marginBottom6{
  margin-bottom: 6em;
}

#fixedbutton{
  position: fixed;
  bottom: 3em;
  right:2em;
  z-index: +2;
  display: none;
  background-color: #46A6DB;
}

.tableImage{
  width: 3em;
}
.nothingToDisplayText{
  font-size: 1.5em;
}
.nothingToDisplayImage{
  width: 25vw;
}

.select-wrapper{
  z-index: 0;
}
.borderControl{
border-radius: 32px;
}
#nav-mobile{
  z-index: +999999;
}
.tableResponsive{
  overflow-x:auto;
}

.makeItRightAligned{
  position: absolute;
  right: 0;
  margin-bottom: 2em;
  cursor: pointer;
  width: 3em;
  height: auto;
}
.makeItLeftAligned{
  margin-bottom: 2em;
  cursor: pointer;
  width: 3em;
  height: auto;
}
.select-wrapper{
  z-index: +99 !important;
}
.fixHeightImage{
  height:15em;
  max-width: 100%;
  object-fit: contain;
}
.dropdown-content{
  max-height: 150px !important;
}
